.panel {
  display: flex;
  flex-direction: column;
  padding: 15px 24px 15px;
  max-width: 1180px;
  margin: 0 auto;
}
.tabs-name {
  width: 100%;

  ul {
    display: flex;
  }
}

.scroller {
  width: 100%;
  padding-right: 25px;
}

.section {
  margin-bottom: 60px;
}
.loader-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 100%;
}

.section__title {
  display: block;
  width: 100%;
  font-size: 24px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  color: rgb(120, 120, 120);
  border-bottom: 2px solid rgb(120, 120, 120);
}

.category-list {
  display: flex;
  flex-direction: column;
  height: 285px;
  width: 100%;
  margin-top: 15px;
  overflow: auto;
}

.category {
  display: flex;
  flex-direction: column;
}

.plus-button {
  flex-shrink: 0;
  background: rgb(42, 227, 237);
  width: 30px;
  height: 30px;
  position: relative;
  border: 0;
  cursor: pointer;
  border-radius: 8px;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
  }

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    top: 14px;
    left: calc(50% - 10px);
    transform: rotate(90deg);
  }
}

.delete-button {
  background: rgb(245, 56, 56);
  width: 30px;
  height: 30px;
  position: relative;
  border: 0;
  cursor: pointer;
  border-radius: 8px;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    transform: rotate(-45deg);
  }

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    top: 14px;
    left: calc(50% - 10px);
    transform: rotate(945deg);
  }
}

.admin-input {
  height: 28px;
  width: calc(100% - 22px);
  border: 1px solid rgb(120, 120, 120);
  border-radius: 8px;
  padding: 0 10px;
}

.category-add {
  display: flex;
  justify-content: space-between;

  .admin-input {
    margin-right: 15px;
  }
}
.category-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &:hover {
    background: rgb(241, 241, 241);
  }
}

.gallery-table {
  width: 100%;
}

.gallery-img {
  height: 50px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.select {
  display: inline-block;
  position: relative;
  min-width: 150px;
}
.select__header {
  background: rgb(42, 227, 237);
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.select__content {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  max-height: 200px;
  overflow: auto;
  flex-direction: column;
  border-top: 2px solid #fff;
  background: rgb(42, 227, 237);
  color: #fff;
}
.select__content.active {
  display: flex;
}

.select__item {
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background: rgb(101, 210, 216);
  }
}

.upload-file {
  img {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  input {
    display: none;
  }
}
.gallery-add td {
  padding: 20px 0;
}

.gallery-thed td {
  padding-bottom: 20px;
}
.tabs-name {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
  }

  li {
    padding: 15px 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: rgb(241, 241, 241);
    }

    img {
      margin-left: 15px;
    }
  }
}
